body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555555;
}

header {
    background-color: #3f3f3f;
    color: rgb(255, 217, 0);
    padding: 1em 0;
    text-align: center;
    font-family: 'Sunday';
}

nav {
    margin-top: 1em;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
	color: rgb(255, 217, 0);
	transition: 0.2s linear;
}

nav a:active {
    color: rgb(255, 232, 99);
}

main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea,
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
}

.course h2 {
    margin-top: 0;
}

.rating {
    margin: 10px 0;
}

.rating span {
    margin-right: 5px;
}

.star {
    color: gold;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-info .avatar {
    width: 200px;
    height: 200px;
    border: 3px rgb(255, 217, 0) solid;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-manipulate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.change-pfp {
    color: rgb(255, 217, 0);
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 70px;
}

.pfp-del-button {
    margin: 0;
    padding: 5px 20px 0 20px;
    border-radius: 10px;
    font-size: 80px;
    background-color: rgb(255, 217, 0);
}

.pfp-del-button:hover {
	color: rgb(0, 0, 0);
    background-color: red;
	transition: 0.2s linear;
}

.password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.psw-form {
    color: rgb(255, 217, 0);
    background-color: #3f3f3f;
    padding: 20px 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input#oldPassword {
    color: rgb(255, 217, 0);
    background-color: #555555;
    padding: 10px 60px;
}

input#newPassword {
    color: rgb(255, 217, 0);
    background-color: #555555;
    padding: 10px 60px;
}

.profile-h2 {
    font-family: 'Pobeda Bold';
    color: rgb(255, 217, 0);
    font-size: 42px;
    margin: 0;
    padding: 10px 0 4px 0;
}

.profile-p {
    font-family: 'Pobeda Bold';
    color: rgb(255, 217, 0);
    font-size: 28px;
    margin: 0;
    padding-bottom: 10px;
}

.profile-courses-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.created-courses,
.completed-courses {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.course-profile-a {
    color: rgb(255, 217, 0);
}

.created-courses ul,
.completed-courses ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.created-courses li,
.completed-courses li {
    margin-bottom: 10px;
}

.created-courses a,
.completed-courses a {
    text-decoration: none;
    color: rgb(255, 217, 0);
}

.created-courses a:hover,
.completed-courses a:hover {
    text-decoration: underline;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-user {
    color: rgb(255, 217, 0);
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}

input#username,
input#email,
input#password {
    color: rgb(255, 217, 0);
    background-color: #555555;
    padding: 10px 60px;
}

.register-acc-exist {
    display: flex;
    justify-content: center;
    color: rgb(255, 217, 0);
}

.confirm {
    color: rgb(255, 255, 255);
}

@font-face {
	font-family: 'Sunday';
	src: url('../fonts/sunday.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sunday.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sunday.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sunday.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sunday.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sunday.svg#sunday') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Pobeda Bold';
	src: url('../fonts/pobeda_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/pobeda_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/pobeda_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/pobeda_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/pobeda_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/pobeda_bold.svg#pobeda_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}